#question{
  padding: 0;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 600px;
  .header{
      .head{
          background: #FFFFFF;
          height: 44px;
          z-index: 6;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          padding: 0 18px;
          margin: 0 auto;
          max-width: 600px;
          box-sizing: border-box;
          span{
              font-size: 0;
              height: 44px;
              display: inline-block;
              cursor: pointer;
              text-align: center;
              position: relative;
              z-index: 1;
              img{
                  width: 27px;
                  height: 27px;
                  margin: 9.5px 0;
              }
          }
          .collect{
              margin: 7px 0;
              position: relative;
              z-index: 1;
              height: 30px;
              div{
                  font-size: 14px;
                  width: 60px;
                  background-color: #E98B71;
                  color: #FFFFFF;
                  border: 1px solid;
                  border-color: #E98B71;
                  position: relative;
                  border-radius: 4px;
                  box-sizing: border-box;
                  margin: 0;
                  text-align: center;
                  line-height: 28px;
                  height: 30px;
                  cursor: pointer;
              }
          }
      }
      .empty{
          height: 44px;
          overflow: hidden;
          zoom: 1;
      }
  }
  .main{
      background-color: #F5F7F9;
      position: absolute;
      top: 44px;
      bottom: 49px;
      left: 0;
      right: 0;
      max-width: 600px;
      margin: 0 auto;
      padding: 0;
      overflow-y: scroll;
      .title{
          background-color: #FFFFFF;
          padding: 10px 15px;
          letter-spacing: 0.5px;
          overflow: hidden;
          position: relative;
          zoom: 1;
          div{
              color: #4A4945;
              font-size: 18px;
              font-weight: bold;
              line-height: 25px;
              margin: 0 auto;
              word-break: break-all;
              text-overflow: ellipsis;
              letter-spacing: 0.5px;
          }
      }
      .recipe-wrap{
          padding: 10px 15px;
          background-color: #fff;
      }
      .recipe{
          position: relative;
          overflow: hidden;
          zoom: 1;
          background-color: #F5F7F9;
          box-sizing: border-box;
          border-radius: 4px;
          display: flex;
          img{
              background: none;
              width: 70px;
              height: 70px;
              display: inline-flex;
              border-radius: 4px;
          }
      }
      .intro{
          display: inline-flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
          margin-left: 15px;
      }
      .name{
          font-size: 14px;
          color: #313131;
          font-weight: bold;
          text-align: justify;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          word-break: break-all;
          line-height: 16px;
      }
      .author{
          margin-top: 5px;
          font-size: 13px;
          color: #999;
          text-align: justify;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          word-break: break-all;
      }
      .answer{
          color: #999999;
          font-size: 16px;
          line-height: 22px;
          margin: 10px 15px;
      }
      .empty{
          overflow: hidden;
          zoom: 1;
          div{
              max-width: 600px;
              margin: 0 auto;
              text-align: right;
          }
      }
      .crit{
          margin: 0;
          padding: 0;
          letter-spacing: 0.5px;
          overflow: hidden;
          zoom: 1;
      }
      .crit-warp{
          background-color: #FFFFFF;
          padding: 10px 15px;
          margin: 0 auto 10px 0;
          box-sizing: border-box;
          overflow: hidden;
          .top{
              overflow: hidden;
              position: relative;
          }
          .img-box{
              float: left;
              width: 40px;
              height: 40px;
              padding: 0;
              margin-right: 10px;
              div{
                  width: 100%;
                  height: 100%;
                  font-size: 0;
                  position: relative;
                  overflow: hidden;
                  cursor: pointer;
              }
              img{
                  background: none;
                  width: 38px;
                  height: 38px;
                  border-radius: 50%;
                  overflow: hidden;
                  box-sizing: border-box;
                  border: 1px solid;
                  border-color: #E7E2E5;
              }
          }
          .client-name{
              height: 20px;
              overflow: hidden;
          }
          .level{
              width: 40px;
              height: 40px;
              float: left;
              margin-top: -10px;
              margin-right: 5px;
              font-size: 0;
              img{
                  width: 100%;
                  overflow: hidden;
              }
          }
          .name{
              font-size: 13px;
              height: 20px;
              line-height: 20px;
              text-align: left;
              color: #4A4945;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
          }
          .time{
              font-size: 12px;
              height: 20px;
              line-height: 20px;
              color: #999999;
              overflow: hidden;
              letter-spacing: 0.5px;
          }
          .answer{
              position: relative;
              overflow: hidden;
              display: block;
              margin-left: 50px;
              div{
                  word-break: break-all;
                  color: #4A4945;
                  font-size: 14px;
              }
          }
          .praise,.discuss{
              float: right;
              height: 19px;
              font-size: 0;
              margin-left: 10px;
              box-sizing: border-box;
              .pic{
                  width: 19px;
                  height: 19px;
                  font-size: 0;
                  vertical-align: middle;
                  display: inline-block;
                  margin-right: 5px;
              }
              .text{
                  text-align: left;
                  font-size: 12px;
                  color: #999999;
                  vertical-align: middle;
                  display: inline-block;
              }
              img{
                  width: 100%;
                  overflow: hidden;
              }
          }
      }
  }
  .footer{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 600px;
      margin: auto;
      height: 49px;
      background-color: #FFFFFF;
      border-top: 1px solid;
      border-top-color: #E7E2E5;
      z-index: 7;
      box-sizing: border-box;
      .left,.right{
          width: 50%;
          height: 49px;
          text-align: center;
          display: inline-block;
          box-sizing: border-box;
          cursor: pointer;
      }
      .line{
          width: 1px;
          height: 20px;
          margin-top: 14px;
          float: right;
          background-color: #E7E2E5;
      }
      .img{
          font-size: 0;
          width: 24px;
          height: 24px;
          margin-right: 5px;
          display: inline-block;
          vertical-align: middle;
      }
      img{
          width: 100%;
          overflow: hidden;
      }
      .num{
          font-size: 12px;
          color: #999999;
          line-height: 49px;
          display: inline-block;
          vertical-align: middle;
      }
  }
}