#attention {
  .s-45edce8e {
    top: 44px;
    bottom: 50px;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    overflow-y: scroll;
    background-color: #F5F7F9;
    .s-c56e13a {
      font-size: 14px;
      line-height: 20px;
      color: #999999;
      margin: 10px auto;
      text-align: center;
    }
    .s-320adc4c {
      margin: 0 auto;
      padding: 0;
      letter-spacing: 0.5px;
      list-style-type: none;
      overflow: hidden;
      zoom: 1;
    }
  }
}
