.swiper .top_header {
  background-color: #ffffff;
  border-bottom: 2px solid;
  border-bottom-color: #e7e2e5;
  padding: 5px 0 10px 0;
  margin: 0 auto;
  margin-top: 44px;
  width: 100%;
  zoom: 1;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-highlight: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  .big {
    width: 1220px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    .img {
      margin-left: 15px;
      font-size: 0;
      position: relative;
      margin-right: 8px;
      border-radius: 4px;
      width: 150px;
      height: 85px;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      zoom: 1;
      box-sizing: border-box;
      -webkit-highlight: none;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      img {
        background: none;
        width: 150px;
        height: 85.5px;
        overflow: hidden;
      }
    }
  }
}
.swiper .bottom_header {
  background-color: #F5F7F9;
  padding-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
  zoom: 1;
.bottom_inner {
  background-color: #FFFFFF;
  padding: 10px 0;
  margin: 0 auto;
  zoom: 1;
  overflow-y: hidden;
  overflow-x: auto;
  .inner{
      padding: 0;
      margin: 0;
      overflow: hidden;
      height: 100%;
      width: 980px;
      .little:first-child {
          margin-left: 15px;
      }
      .little{
          background-color: #94BFBB;
          font-size: 15px;
          line-height: 21px;
          text-align: center;
          position: relative;
          margin-right: 8px;
          border-radius: 4px;
          padding: 7px 10px;
          display: inline-block;
          vertical-align: middle;
          overflow: hidden;
          zoom: 1;
          box-sizing: border-box;
          color: #FFFFFF;
      }
  }
}
}
