.s-4b17eb37 {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color:#EEEDEB;
    // background-color: black;
    .one{
        .s30153804 {
            background: #FFFFFF !important;
            height: 44px;
            z-index: 6;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;                cursor: pointer;

            padding: 0 18px;
            margin: 0 auto;
            max-width: 600px;
            box-sizing: border-box;
            .s-3613cfc6 {
                font-size: 0;
                height: 44px;
                float: left;
                display: inline-block;
                text-align: center;
                position: relative;
                z-index: 1;
                .s-6a5cf0dc {
                    width: 27px;
                    height: 27px;
                    margin: 9.5px 0;
                }
                img {
                    border:0
                }
            }
            .s7e1f0f36 {
                height: 44px;
                overflow: hidden;
                zoom: 1;
            }
        }
    }
    .two{
        .s-86ee15c {
            background-color: #fff;
            position: relative;
            overflow: hidden;
            zoom: 1;
            z-index: 2;
            .s623419f9 {
                margin: 0 15px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                float: left;
                .s-1c89ddc8 {
                    width: 100%;
                    height: 100%;
                    font-size: 0;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    .s33fa2c34 {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        overflow: hidden;
                        box-sizing: border-box;
                        border: 1px solid;
                        border-color: #E7E2E5;
                    }
                }
            }
            .s-2325e9ee {
                overflow: hidden;
                position: relative;
                margin-right: 15px;
                .s898183f {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -11px;
                    z-index: 3;
                    .s7cc32b69 {
                        width: 80px;
                        height: 23px;
                        line-height: 23px;
                        font-size: 12px;
                        color: #999999;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .s-2839e077 {
                        height: 23px;
                        width: 23px;
                        font-size: 0;
                        display: inline-block;
                        vertical-align: middle;
                        .s-34f4f4a1 {
                            width: 100%;
                            overflow: hidden;
                        }
                    }
                }
                .s671d088c {
                    position: relative;
                    .s-538193fa {
                        max-width: 46%;
                        height: 28px;
                        line-height: 28px;
                        display: inline-block;
                        vertical-align: middle;
                        color: #4A4945;
                        font-size: 20px;
                        box-sizing: border-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -otext-overflow: ellipsis;
                        -webkit-text-overflow: ellipsis;
                        -moz-text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .s327c293d {
                        width: 15px;
                        height: 15px;
                        margin: 0;
                        font-size: 0;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 7px;
                    }
                    .s6af525a3 {
                        width: 25px;
                        height: 25px;
                        font-size: 0;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 7px;
                        .s-34f4f4a1 {
                            width: 100%;
                            overflow: hidden;
                        }
                    }
                }
                .s-436e853 {
                    font-size: 12px;
                    line-height: 16px;
                    color: #999999;
                    margin: 4px 0 10px 0;
                }
                .s-48e6e3cc {
                    height: 21px;
                    width: 150px;
                    margin: 0;
                    overflow: hidden;
                    position: relative;
                    .s-603e44e {
                        margin: 0;
                        font-size: 10px;
                        line-height: 14px;
                        color: #999999;
                        margin-bottom: 5px;
                    }
                    .s-3b3bd440 {
                        position: relative;
                        width: 150px;
                        height: 3px;
                        background-color: #EEEDEB;
                        margin: 0;
                        border-radius: 5px;
                        overflow: hidden;
                        .s-cd4d39e {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            z-index: 1;
                            width: 1%;
                            height: 4px;
                            border-radius: 5px;
                            background-color: #1976D2;
                        }
                    }
                }
            }
            .s754429f8 {
                margin: 20px 37px;
                box-sizing: border-box;
                position: relative;
                border-bottom: 1px solid;
                border-bottom-color: #E7E2E5;
                .s2ca2514e {
                    width: 33.333%;
                    height: 30px;
                    margin: 5px 0;
                    padding: 0 6px;
                    display: inline-block;
                    vertical-align: middle;
                    box-sizing: border-box;
                    border-right: 1px solid;
                    border-right-color: #E7E2E5;
                    text-align: center;
                    .s-3c01e14a {
                        font-size: 14px;
                        color: #4A4945;
                        line-height: 20px;
                        margin-top: -5px;
                        position: relative;
                    }
                    .s-766eee6 {
                        font-size: 11px;
                        color: #999999;
                        line-height: 15px;
                    }
                }
            }
        }
        .s-1522ea4a {
            background-color: #FFFFFF;
            height: 65px;
            padding-bottom: 9px;
            .s-44bd411 {
                width: 25%;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                display: inline-block;
                box-sizing: border-box;
                .s-720e086 {
                    font-size: 0;
                    width: 40px;
                    height: 40px;
                    margin: 0 auto 8px auto;
                    vertical-align: middle;
                    .s-7615f084 {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }
                }
                .s100e1111 {
                    line-height: 16px;
                    font-size: 12px;
                    color: #4A4945;
                }
            }
        }
        .s1c341519 {
            background-color: #FFFFFF;
            margin: 0 auto;
            padding: 0 0 0 15px;
            // border: 1px solid red;
            .s-4c67c0d7 {
                position: relative;
                height: 54px;
                padding: 15px 0;
                cursor: pointer;
                box-sizing: border-box;
                border-bottom: 1px solid;
                border-bottom-color: #E7E2E5;
                .s-2d0bd9c2 {
                    font-size: 0;
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    vertical-align: middle;
                    .s-7615f084 {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }
                }
                .s283a207c {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    .sfea1111 {
                        line-height: 14px;
                        font-size: 14px;
                        color: #4A4945;
                    }
                }
                .s-3a92e209 {
                    height: 23px;
                    width: 23px;
                    font-size: 0;
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    .s-7615f084 {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    
}