#wrap {
    .header{
        height: 44px;
        z-index: 6;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 18px;
        margin: 0 auto;
        max-width: 600px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        .sousuo{
            font-size: 16px;
            margin-top: 5px;
            cursor: pointer;
        }
        .search{
            text-align: left;
            height: 35px;
            margin: 4.5px 0px;
            .searchBtn{
                height: 100%;
                margin: 0 auto;
                border-radius: 4px;
                zoom: 1;
                background-color: #F5F7F9;
                box-sizing: border-box;
                padding: 0 10px;
                cursor: pointer;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                .image{
                   img{
                        width: 18px;
                        height: 18px;
                        margin-right: 10px;
                    } 
                }
                .intro{
                    display: block;
                    width: 200px !important;
                    color: #999999;
                    font-size: 12px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: left;
                }
            }
        }
    }
    .hot-search{
        margin: 15px;
        overflow: hidden;
        zoom: 1;
        .kong{
            height: 44px;
            widows: 100%;
        }
        .hot{
            font-size: 14px;
            line-height: 20px;
            color: #999999;
            overflow: hidden;
            zoom: 1;
        }
        
    }
    .s-4a3ee475{
        margin: 0 15px;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
        zoom: 1;
        .s-342c6019{
            max-width: 100%;
            height: 32px;
            line-height: 32px;
            font-size: 16px;
            padding: 0 10px;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 100px;
            box-sizing: border-box;
            color: #4A4945;
            background-color: #F5F7F9;
            cursor: pointer;
            zoom: 1;
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    
}